@use 'variables' as *;

.header {
  width: 100%;
  height: 90px;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;

  .logo-name-container {
    display: flex;
    align-items: center;

    p {
      margin: 0 5px;
    }

    #logo {
      width: 50px;
      height: 50px;
    }

    h4 {
      font-size: 1.1rem;
    }
  }

  .user-info-container {
    margin-left: auto;
  }

  .logout {
    color: #fff;
    background-color: $color;
    padding: .5rem 1rem;
    border: 1px solid $color;
    border-radius: 5px;
    cursor: pointer;
  }
}